<template>
    <body>
        <h1>Hola Mundo</h1>
    </body>
</template>

<script>
export default {
    name: 'App'
}
</script>

<style scoped>
body {
  font: 12px Helvetica, Arial, sans-serif;
}
a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
</style>

